@mixin shade($color, $percentage, $property) {
  #{$property}: mix($color, #000000, $percentage);
}

@mixin fade($color, $percentage, $property) {
  #{$property}: rgba(red($color), green($color), blue($color), $percentage);
}

@mixin tint($color, $percentage, $property: background-color) {
  #{$property}: mix($color, #ffffff, $percentage);
}

@mixin is-mobile($max-width: 767px) {
  @media (max-width: $max-width) {
    @content;
  }
}

@mixin not-mobile($min-width: 768px) {
  @media (min-width: $min-width) {
    @content;
  }
}

@mixin flex-force-fill() {
  // use flex to force child node to fill parent

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  
  > :first-child {
    width: 100%;
  }
}

@mixin flex-center($direction: row) {
  // center child node vertically and horizontally
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: $direction;
  align-items: center;
}

@mixin bio-text() {
  // bio text formatting. used on the profile page
  font-size: 16px;
  text-align: left;
  word-wrap: break-word;

  &.short-bio {
    text-align: center;
  }

  a {
    color: #333333;
    position: relative;
    text-decoration: underline;

    .no-touchevents &:hover {
      color: #888888;
    }
  }

  hr {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }

  h2 {
    display: block;
    font-size: 1.6em;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }

  h3 {
    display: block;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: .4em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  ul, ol {
    display: block;
    margin-top: 0;
    margin-bottom: .75em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    text-align: left;
  }

  ul li ul, ol li ol {
    margin-bottom: 0;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  li {
    display: list-item;
  }

  table {
    width: 100%;
    display: table;
    margin-top: 1em;
    margin-bottom: 1em;

    th {
      font-weight: bold;
    }
  }

  div > h1:first-child,
  div > h2:first-child {
    margin-top: 0;
  }
}
