.head {
  box-sizing: border-box;

  .image {
    margin: -60px auto 20px;
    background-color: #eee;
  }
  
  .home {
    position: relative;
    top: -80px;
    float: left;
    left: 15px;
    
    .button {
      border: none;
      padding: 0;
      background: none;
    }
    
    i {
      color: black;
    }
  }

  .name-headline {
    padding-left: 20px;
    padding-right: 20px;
    
    .name {
      color: #333;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 1.2;
      margin: 0;
      text-transform: uppercase; 
    }

    section+section:not(:empty) {
      margin-top: 5px;
    }

    .headline {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2;
      margin: 0;
    }
    
    .page-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;
      margin: 25px 0 -20px 0;
    }
  }
}