<section class="bio inset">
    <div>
        <p>Meet Drew, a seasoned software engineer with over a decade of experience. He excels in navigating the complete software development lifecycle. Originally specializing in cross-platform mobile with Xamarin.Forms (now MAUI), he has broadened his focus in recent years to include the full .NET technology stack, showing a keen interest in .NET Core, Blazor, and Source Generators. Drew has a proven track record of delivering successful B2C and B2B solutions across diverse industries such as insurance, healthcare, and agriculture.</p>
        <p>Beyond the code, Drew has also dabbled in education, lending his skills as part-time faculty in multiple post-secondary institutions.</p>
        <p>Away from the screen, Drew finds peace in the serene landscapes of the Northwoods of Wisconsin, enjoying quality time with his family. And when he's looking for a change of pace, you'll find him at his friendly local game store (FGLS), diving into a mix of activities like board games, trading card games (TCGs), and miniature war-games.</p>
    </div>
</section>