<section class="meta inset">
    <ul class="meta-sections">
        <li class="meta-section jobs">
            <div class="meta-header">Work</div>
            <ul class="meta-list">
                <li class="meta-item">MetaFarms, Inc.</li>
            </ul>
        </li>
        <li class="meta-section schools">
            <div class="meta-header">Education</div>
            <ul class="meta-list">
                <li class="meta-item">University of Wisconsin–Stevens Point</li>
            </ul>
        </li>
    </ul>
</section>