<div class="head">
    <div class="image" style="width:120px;height:120px;background-image:url(profile.png);background-size:cover;border-radius:50%;background-repeat:no-repeat;background-position:center center"></div>
    <div class="name-headline">
        <section>
            <h1 class="name">Drew Frisk</h1>
        </section>
        <section>
            <h2 class="headline">
                <span class="roles">
                    <span class="role">Senior Software Developer</span>
                </span>
                <span class="location"> in the <span class="location">Wisconsin NorthWoods</span></span>
            </h2>
        </section>
    </div>
</div>