<section class="spotlight inset">
    <a href="/sessions" target="_blank" class="button xlarge dark primary glyph-code"
       style="background-color:#1A3A0D;border-color:#1A3A0D">
        <i class="fa-solid fa-person-chalkboard" style="color: #ffffff"></i>
        <span>View Speaker Sessions</span>
    </a>
</section>