<section class="spotlight inset">
    <a href="/_d/sessions" target="_self" class="button xlarge dark primary"
       style="background-color:#1A3A0D;border-color:#1A3A0D">
        <i class="fa-solid fa-person-chalkboard" style="color: #ffffff"></i>
        <span>View Speaker Sessions</span>
    </a>
</section>