@* <section class="spotlight inset"> *@
@*     <a href="https://github.com/mysterdru" target="_blank" rel="nofollow noopener noreferrer" class="button xlarge dark primary glyph-code"> *@
@*         <span class="text ellipsis">View my repo</span> *@
@*     </a> *@
@* </section> *@