@inherits LayoutComponentBase

<div class="page-container">
    <div class="page-content profile-scope">
        <main>
            <Profile>
                @Body
            </Profile>
        </main>
    </div>
</div>