<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/lib/styles.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="mysterdru.github.io.styles.css" />
    <script src="https://kit.fontawesome.com/4f36ea07e7.js" crossorigin="anonymous"></script>
    <HeadOutlet />
</head>

<body class="has-ledge">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="scripts.js"></script>
</body>

</html>
