html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    /* green gradient background */
    background-color: #1A3A0D;
    background: linear-gradient(135deg, #1A3A0D 0%, #1A3A0D 30%, #2c6316 100%) fixed;

    color: #333;
    font-size: 14px;
    line-height: 1.3;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a.button {
    text-decoration: none !important;
}

.button {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.button.xlarge {
    font-size: 18px;
    line-height: 48px;
    paddinnpmg: 0 30px;
}

main {
    box-sizing: border-box;
    /* main pushes the footer to the bottom of the window (looks nicer when waiting for page content to load) */
    flex-grow: 1;
    flex-shrink: 0;
}

html.browser-ie11 {
    main {
        min-height: 100vh;
    }
}
