@page "/dist/404"

@using mysterdru.github.io.Components.Shared

<PageTitle>Drew Frisk - Not Found</PageTitle>
<ProfileHeader ShowHome="true" Title="Not Found"/>

<ProfileBody>
    <section class="inset">
        The page you're looking for doesn't exist. Try again, or click the home button in the top left.
    </section>
</ProfileBody>