@page "/"
@using mysterdru.github.io.Components.Pages.Home.Views

<PageTitle>Drew Frisk</PageTitle>

<ProfileHeader />

<div class="body">
    <div class="body-content">
        <BioSection />
        <MetaSection />
        <SocialLinks />
    </div>
</div>